
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", "Arial", serif;
    font-size: 1.8vh;
    overflow-x: hidden;
}


header {
    background-color: #ffffff;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 1vh 1vh;
    text-decoration: none;
}

.image-logo > a {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.image-logo img {
    position: relative;
    z-index: 1000;
    width: 80%;
}

.navbar-nav-icon {
    width: 45px;
    height: 45px;
}

.navbar-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    right: 5px;
}

.navbar > ul {
    list-style: none;
}

.navbar a:hover {
    fill: #2c6d50;
}

/*SLIDE MENUBAR*/
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    opacity: 0.97;
    overflow: hidden;
    overflow-y: visible;
    padding-top: 60px;
    transition: 0.5s left;
}

.side-nav li {
    list-style: none;
}

.side-nav h1 {
    padding: 8px 8px 8px 25px;
}

.side-nav a {
    padding: 10px 7px 10px 25px;
    text-decoration: none;
    font-size: 2.6rem;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #2b6044;
}

.side-nav .btn-close {
    position: absolute;
    padding: 0 0 8px 18px;
    top: 0;
    left: 0;
    font-size: 3.5rem;
}

.side-nav-search-form {
    margin: 15px 0 0 15px;
    position: relative;
}

.side-nav-search-form input {
    float: left;
    padding: 10px;
    background: #fff;
    height: 35px;
    display: block;
    width: 235px;
    color: #7c7875;
    font-size: 16px;
    margin: 0 0 20px;
    border: 1px #d7d4d1 solid;
    outline: 0;
}

.side-nav-search-form button {
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    float: left;
    height: 35px;
    width: 35px;
    margin: 0 0 20px;
    background-color: #fff;
    border: 1px #d7d4d1 solid;
    border-left: 0;
    cursor: pointer;
}

.side-nav-search-form button svg {
    align-items: center;
    margin: auto;
}

.side-nav-search-form button:hover {
    fill: #2c6d50;
    transition: 0.7s;
}

.contain {
    box-sizing: border-box;
    display: flex;
}

.threeColumns {
    flex: 30%;
    padding: 5px;
}

@media screen and (max-width: 450px) {
    .contain {
        display: block;
    }
}

.threeColumns {
    position: relative;
    align-content: center;
    justify-content: center;
}

.text-content {
    position: absolute;
    width: 100%;
    left: 20%;
    bottom: 40%;
}

.a-heading {
    font-size: 2.5vh;
    margin: 4vh 2vh;
    top: 3.0vh;
}

.a-button-shop {
    transform: translate(0, -50%);
    color: #ffffff;
    background-color: #000000;
    opacity: 0.90;
    border: 1px solid #000000;
    text-align: center;
    padding: 4% 10%;
    font-size: 2.2vh;
    text-decoration: none;
    transition: 0.3s;
}

.a-button-shop:hover {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.75;
}

/*SLIDESHOW*/
.slideshow-container {
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.6;
}

.slides {
    position: relative;
}

.slides > a {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 15vh);
    transform: translate(0, -50%);
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    text-align: center;
    padding: 2vh 9vh;
    font-size: 2.2vh;
    text-decoration: none;
    transition: 0.3s;
}

.slides > a:hover {
    color: #FFFFFF;
    background: #000000;
    opacity: 0.50;
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}

.slideshow-container > .slides > img {
    width: 100%;
}

.slideshow-dots {
    text-align: center;
    position: relative;
    bottom: 3vh;
}

.dot {
    cursor: pointer;
    height: 1.5vh;
    width: 1.5vh;
    margin: 0 2px;
    background-color: #c9c9c9;
    opacity: 0.8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

/*SEARCH BUTTON*/
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.search-form {
    width: 200px;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #d9d9d9;
}

.input-div.two {
    display: block;
    padding: 9px 0;
}

.input-div:before, .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #2b6044, #338d6a, #2b6044);
    transition: 0.5s;
}

.input-div:after {
    right: 50%;
}

.input-div:before {
    left: 50%;
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 1.2rem;
}

.input-div.focus:after, .input-div.focus:before {
    width: 50%
}

.i {
    display: flex;
    top: 5px;
    justify-content: center;
    align-items: center;
}

.i svg {
    fill: #d6d6d6;
    transition: 0.5s;
}

.input-div.focus > .i > a > svg,
.input-div.focus > .i > svg {
    fill: #2b6044;
}

.input-div > div {
    position: relative;
    height: 30px;
}

.input-div > div h5 {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.5rem;
    transition: 0.5s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.5rem;
    color: #555555;
}

/*FOOTER*/

.footer-container {
    background: #f4f3f1;
}

.accordion-container {
    display: flex;
    padding: 0 10vh 0 10vh;
}

.accordion {
    background-color: #f4f3f1;
    color: #444;
    padding: 18px;
    font-size: 15px;
}

.accordion-cart {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 3% 2% 2% 2%;
    width: 25%;
}

#newsletter {
    width: 35%;
}

.accordion-h4 {
    width: 0;
}

.accordion-container ul {
    list-style: none;
}

.accordion-container a {
    font-size: 1.3rem;
    line-height: 30px;
    text-decoration: none;
    color: #211f1b;
}

.accordion-container a:hover {
    color: #2b6044;
    transition: 0.5s;
}

.newsletter-checkbox {
    font-size: 1.3rem;
    line-height: 15px;
    margin: 20px 0;
}

.newsletter-checkbox > a {
    color: #2b6044;
    text-decoration: underline;
}

.accordion-container p {
    padding: 10px;
    font-size: 1.3rem;
}

.accordion-container h3 {
    font-size: 1.6rem;
}

.footer-newsletter > form > p {
    line-height: 20px;
    margin: 15px 0;
}

.btn {
    display: block;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #211f1b, #34322d, #211f1b);
    background-size: 300%;
    font-size: 1.2rem;
    color: #f4f3f1;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}


.btn:hover {
    background-position: right;
}

.socials {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #211f1b;
    color: #f4f3f1;
}

.fab {
    padding: 10px 40px 0 0;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    transition: 0.8s;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-twitter-square, .fa-instagram, .fa-youtube {
    background: #f4f3f1;
    color: #211f1b;
}

.fa-facebook:hover, .fa-twitter-square:hover, .fa-instagram:hover, .fa-youtube:hover {
    background: #f4f3f1;
    color: #2b6044;
}

@media screen and (max-width: 606px) {
    .search-form {
        display: none;
    }
}

@media screen and (min-width: 607px) {
    .side-nav-search {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .image-logo img {
        z-index: 1000;
        display: block;
        position: fixed;
        width: 40%;
    }

    .navbar-nav-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 920px) {
    .accordion-container {
        display: block;
        padding: 0 0 0 0;
    }

    .accordion-cart {
        position: static;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #newsletter {
        width: 100%;
    }

    .accordion {
        background-color: #f4f3f1;
        color: #444;
        cursor: pointer;
        padding: 18px;
        border: none;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        color: #2c6d50;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: #f4f3f1;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.panels-login-account,
.panels-general,
.panels-account {
    border-top: 1px solid #f3f2f0;
    overflow: hidden;
    display: flex;
}

.panels-account {
    background: #f4f3f1;
    padding: 0 0 30px 0;
}


.panel-login-account,
.panel-general {
    min-height: calc(100vh - 60px);
    text-align: center;
    font-size: 1.4rem;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
}

.a-account-links {
    margin: 0 50px;
    padding: 15px 0 0 0;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #62605c;
    background: #f4f3f1;
    display: block;
    transition: 0.6s;
}

.active {
    color: #000000;
    font-weight: bold;
    font-size: 1.6rem;
}

.a-account-links:hover {
    color: #211f1b;
}

.panel-login-account a {
    color: #000000;
    text-decoration: underline;
}

.panel-general > h5 {
    font-size: 2.8rem;
    margin: 20px 20px;
}

.panel-general > span {
    padding: 15px 15px;
}

.panels-account-footer {
    height: 60px;
    background: #FFFFFF;
}

.panels-account-header {
    display: flex;
    height: 90px;
    width: 100%;
    background: #f4f3f1;
}

.panels-account-header > h5 {
    margin: 10px 50px;
    padding: 20px 10px;
    font-size: 2.4rem;
    color: #44423e;
    text-transform: uppercase;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
}

.panel-account-links {
    width: 250px;
    text-transform: uppercase;
}

.panel-account-data {
    flex: 55%;
    padding: 20px 40px 0 0;
}

.account-data {
    display: block;
    font-size: 1.4rem;
    padding: 10px;
    height: 400px;
    border-bottom: 1px solid #d6d6d6;
}

.account-data a {
    color: #2b6044;
}

.account-data-small {
    height: 160px;
}

.account-data-small-2 {
    height: 220px;
}

.panel-account-links > ul {
    list-style: none;
}

.account-text > h4 {
    color: #44423e;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 0 0 10px 0;
}

.account-description {
    font-size: 1.4rem;
    padding: 0 0 0 10px;
}

.account-data-input > div > h3 {
    color: #44423e;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 8px 0 3px 0;
}

.account-text {
    margin: 0 0 20px 0;
}

.account-text-small {
    margin: 0 0 10px 0;
}

.btn-data-account {
    width: 35%;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: right;
    float: right;
}

.account-input {
    margin: 5px;
    padding: 20px;
    background: #fff;
    height: 40px;
    width: 300px;
    color: #7c7875;
    font-size: 16px;
    border: 1px #d7d4d1 solid;
    /*outline: 0;*/
}

.newsletter-terms {
    display: block;
    width: 100%;
    margin: 5px 5px;
}

.newsletter-terms h3 {
    margin: 5px 5px;
    text-decoration: unset;
}

.i-newsletter-terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.i-newsletter-terms img {
    margin: 5px 5px;
    width: 20px;
}

.panel-login-account h4 {
    font-size: 1.6rem;
}

.panel-login-account1 {
    background: #FFFFFF;
}

.panel-login-account2 {
    background: #f4f3f1;
}

.form-popup {
    display: none;
    width: 90%;
    z-index: 1;
    position: relative;
    align-items: center;
    align-content: center;
    transition: 0.7s ease-in-out;
}

.form-popup2 {
    display: block;
    width: 90%;
    z-index: 1;
    position: relative;
    align-items: center;
    align-content: center;
    transition: 0.7s ease-in-out;
}

.btn-login {
    display: none;
}

.btn-login, .btn-create-account, .btn-general {
    width: 80%;
    height: 40px;
    outline: none;
    border: 1px solid #444;
    background: transparent;
    background-size: 300%;
    font-size: 1.2rem;
    color: #444;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn-general {
    display: flex;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
    width: 40%;
    text-decoration: none;
}

.btn-general:hover {
    border: 1px solid transparent;
    padding: .2rem;
    border-image-source: linear-gradient(to right, #2c6d50 0%, #34322d 100%);
    border-image-slice: 5;
    font-size: 105%;
    color: #2e7455;
    transition: 0.8s;
}

.btn-login:hover, .btn-create-account:hover, .btn-general {
    background-position: right;
}

.account-container2 {
    display: flex;
    flex-direction: column;
    min-width: 80vh;
    padding: 10px;
    background: #f4f3f1;
    color: #444;
}

.fa-eye {
    position: absolute;
    font-size: 15px;
    right: 20px;
    bottom: 5px;
    color: #2c6d50;
    cursor: pointer;
    margin-left: 20px;
    opacity: 0.5;
}

.fa-eye:hover {
    opacity: 1;
}

.fa-eye.active {
    font-size: 18px;
    background: transparent;
}

@media screen and (max-width: 700px) {

    .panels-login-account,
    .panels-account {
        display: block;
    }

    .panel-account-links{
        width: 100%;
    }

    #account-links {
        margin: 0 40px 0 40px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #d9d9d9;
    }

    .panel-account-data {
        padding: 40px 40px 40px 40px;
    }

    .panel-login-account {
        min-height: calc(70vh - 60px);
    }
}


/*CHECKBOX*/
.checkbox {
    margin: 20px 8px;
}

.checkbox-container {
    display: flex;
    float: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
}

.checkbox-container:hover input ~ .checkmark {
    border: 1px solid #44423e;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #211f1b;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*ALERT*/

.alert {
    width: 100%;
    min-height: 30px;
    background: #ffc7b9;
    color: black;
    text-align: center;
    font-size: 1.4rem;
    position: absolute;
    top: 60px;
    left: 0;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.alert-close {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2.0rem;
    color: #211f1b;
    text-decoration: none;
}

.error-info {
    color: darkred;
}

/*OTHERS*/