<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/img/veshje-icon.png" rel="icon" type="image/png"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VESHJE</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
    <span class="open-slide">
        <a href="#" onclick="openSlideMenu()">
            <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,14 30,14" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,23 30,23" stroke="#000000" stroke-width="1.5"/>
        </svg>
        </a>
    </span>
        <a href="/" class="image-logo" title="Veshje - go to homepage">
            <img src="/img/veshje-logo.svg" alt="Veshje online shop - logo">
        </a>
        <ul class="navbar-nav">
            <li>
                <form action="/search" method="get" class="search-form">
                    <div class="input-div one">
                        <div class="i">
                            <a href="/search">
                                <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                            </a>
                        </div>
                        <div>
                            <h5>Search</h5>
                            <input class="input" type="text">
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/account" title="User account" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M29.089,24.747C32.6,22.909,35,19.238,35,15c0-6.075-4.925-11-11-11S13,8.925,13,15c0,4.238,2.4,7.909,5.911,9.747
		        C10.89,27.09,5,34.809,5,44h38C43,34.809,37.11,27.09,29.089,24.747z M15,15c0-4.963,4.037-9,9-9s9,4.037,9,9c0,4.963-4.037,9-9,9
		        S15,19.963,15,15z M24,26c8.735,0,15.953,7.013,16.896,16H7.104C8.047,33.013,15.265,26,24,26z"/></g>
            </svg>
                </a>
            </li>
            <li>
                <a href="/favourites" title="Favourites product" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7
		        C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z
		         M15.111,9c2.85,0,5.574,1.366,7.288,3.654L24,14.792l1.601-2.137C27.315,10.366,30.039,9,32.889,9C37.913,9,42,13.087,42,18.111
		        c0,2.888-1.329,5.546-3.648,7.291l-0.097,0.073l-0.088,0.085L24,39.222L9.833,25.56l-0.088-0.085l-0.097-0.073
		        C7.33,23.657,6,20.999,6,18.111C6,13.087,10.087,9,15.111,9z"/>
                </g>
                </svg>
                </a>
            </li>
            <li>
                <a href="/shopping-bag" title="User shopping bag" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M4,40c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4l0-26h-9.191C33.865,8.888,29.382,5,24,5s-9.865,3.888-10.809,9H4L4,40z M24,7
		        c4.275,0,7.855,2.998,8.768,7H15.232C16.145,9.998,19.725,7,24,7z M13,16v6h2v-6h18v6h2v-6h7l0,24c0,1.103-0.897,2-2,2H8
		        c-1.103,0-2-0.897-2-2l0-24H13z"/>
                </g>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <div class="side-nav-search">
            <form action="/search" method="get" class="side-nav-search-form">
                <input type="text" placeholder="Search" class="side-nav-search-input">
                <button type="submit">
                    <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                </button>
            </form>
        </div>
        <h1>Collection</h1>
        <ul>
            <li><a href="/products/new-in" title="New collection">New in</a></li>
            <li><a href="/products/mini-dresses" title="Mini dresses">Mini</a></li>
            <li><a href="/products/midi-dresses" title="Midi dresses">Midi</a></li>
            <li><a href="/products/long-dresses" title="Long dresses">Long</a></li>
            <li><a href="/products/sale-dresses" title="Sale dresses">Sale</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="alert-container" th:insert="/index.html :: error-info"></div>
    <div class="alert-information-container" th:fragment="error-info">
        <div th:if="${param.errorResetPassword}" class="alert-information">
            <div class="alert-information-error">
                <h5>Error!</h5>
                <span>Password doesn't change. New password and confirmation password do not match.</span>
                <button type="submit" class="btn" onclick="closeButtonInformation()">Accept</button>
            </div>
        </div>
        <div th:if="${param.errorExpired}" class="alert-information">
            <div class="alert-information-error">
                <h5>Error!</h5>
                <span>The link you followed has expired.</span>
                <a href="/login/forgot-password">
                    <button type="submit" class="btn">Retrieve password</button>
                </a>
            </div>
        </div>
        <div th:if="${param.successResetPassword}" class="alert-information">
            <div class="alert-information-error">
                <h5>Success!</h5>
                <span>Password change! Go to login.</span>
                <a href="/login">
                    <button type="submit" class="btn">Accept</button>
                </a>
            </div>
        </div>
    </div>
    <div class="panels-general">
        <div class="panel-general">
            <h5>Change password</h5>
            <form method="post" th:action="@{'/login/reset-password?token=' + ${token}}"
                  th:object="${changeForgotPasswordDTO}" id="account-container1" class="form-forgot-password">
                <div class="input-div two">
                    <div>
                        <h5>New password</h5>
                        <input th:field="*{newPassword}" type="password" class="input" id="password-inp" required>
                        <i class="fas fa-eye" id="password-eye"></i>
                    </div>
                </div>
                <div class="input-div two">
                    <div>
                        <h5>Confirm password</h5>
                        <input th:field="*{confirmPassword}" type="password" class="input" id="password-confirm-inp" required>
                        <i class="fas fa-eye" id="password-confirm-eye"></i>
                    </div>
                </div>
                <input type="submit" class="btn" value="Change password">
            </form>
        </div>
    </div>
</main>
<footer class="footer-container">
    <div class="accordion-container">
        <div class="accordion-cart">
            <h4 class="accordion">Shop</h4>
            <ul class="panel">
                <li><a href="/products/new-in" title="New collection">New in</a></li>
                <li><a href="/products/mini-dresses" title="Mini dresses">Mini</a></li>
                <li><a href="/products/midi-dresses" title="Midi dresses">Midi</a></li>
                <li><a href="/products/long-dresses" title="Long dresses">Long</a></li>
                <li><a href="/products/sale-dresses" title="Sale dresses">Sale</a></li>
            </ul>
        </div>
        <div class="accordion-cart">
            <h4 class="accordion">Help</h4>
            <ul class="panel">
                <li><a href="/shop-at-veshje" title="Shop at veshje">Shop at veshje</a></li>
                <li><a href="/about-product" title="Product">Product</a></li>
                <li><a href="/gift-cards" title="Gift cards">Gift cards</a></li>
                <li><a href="/payment" title="Payment">Payment</a></li>
                <li><a href="/shipping" title="Shipping">Shipping</a></li>
                <li><a href="/exchange-and-returns" title="Exchange and returns">Exchange and returns</a></li>
                <li><a href="/account" title="My account">My account</a></li>
            </ul>
        </div>
        <div class="accordion-cart">
            <h4 class="accordion">Corporate info</h4>
            <ul class="panel">
                <li><a href="/about" title="About Veshje">About</a></li>
                <li><a href="/career" title="Career at Veshje">Career</a></li>
                <li><a href="/shops-and-company" title="Shops and company">Shops and company</a></li>
                <li><a href="/contact" title="Contact">Contact</a></li>
                <li><a href="/privacy-policy" title="Legal and privacy">Legal and privacy</a></li>
            </ul>
        </div>
        <div class="accordion-cart" id="newsletter">
            <h4 class="accordion">Newsletter</h4>
            <ul class="panel">
                <form action="#" th:action="@{'/login/reset-password-newsletter?token=' + ${token}}" th:object="${addNewsletterResetPassword}"
                      method="post"
                      class="newsletter-container">
                    <p>Do you want to receive the newest trends and special offers? Sign up.</p>
                    <div class="input-div one">
                        <div class="i">
                            <svg width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                                                <g id="Shopicon">
                	                            <path d="M40,8H8c-2.2,0-4,1.8-4,4v24c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4V12C44,9.8,42.2,8,40,8z M8,10h32
                		                        c0.701,0,1.317,0.364,1.674,0.912L24,28.586L6.326,10.912C6.683,10.364,7.299,10,8,10z M40,38H8c-1.103,0-2-0.897-2-2V13.414l18,18
                		                        l18-18V36C42,37.103,41.103,38,40,38z"/>
                                                </g>
                                            </svg>
                        </div>
                        <div>
                            <h5>Email</h5>
                            <input type="email" th:field="*{email}" class="input" required>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <div class="newsletter-checkbox">
                        <input type="checkbox" name="accept-newsletter-checkbox" required>
                        I accept <a href="/privacy-policy">newsletter terms</a>
                    </div>
                    <input type="submit" class="btn" value="Send">
                </form>
            </ul>
        </div>
    </div>
    <div class="footer-container-socials">
        <div class="socials">
            <a href="#" title="facebook" class="socials-icon-deep" target="_blank">
                <i class="fab fa-facebook"></i></a>
            <a href="#" title="twitter" class="socials-icon-deep" target="_blank">
                <i class="fab fa-twitter-square"></i></a>
            <a href="#" title="instagram" class="socials-icon-deep" target="_blank">
                <i class="fab fa-instagram"></i></a>
            <a href="#" title="youtube" class="socials-icon-deep" target="_blank">
                <i class="fab fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <p>Veshje © 2020 All rights reserved</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/js.js"></script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var accAccordion;

    for (accAccordion = 0; accAccordion < acc.length; accAccordion++) {
        acc[accAccordion].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>