<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/img/veshje-icon.png" rel="icon" type="image/png"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VESHJE</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
    <span class="open-slide">
        <a href="#" onclick="openSlideMenu()">
            <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,14 30,14" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,23 30,23" stroke="#000000" stroke-width="1.5"/>
        </svg>
        </a>
    </span>
        <a href="/" class="image-logo" title="Veshje - go to homepage">
            <img src="/img/veshje-logo.svg" alt="Veshje online shop - logo">
        </a>
        <ul class="navbar-nav">
            <li>
                <form action="/search" method="get" class="search-form">
                    <div class="input-div one">
                        <div class="i">
                            <a href="/search">
                                <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                            </a>
                        </div>
                        <div>
                            <h5>Search</h5>
                            <input class="input" type="text">
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/account" title="User account" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M29.089,24.747C32.6,22.909,35,19.238,35,15c0-6.075-4.925-11-11-11S13,8.925,13,15c0,4.238,2.4,7.909,5.911,9.747
		        C10.89,27.09,5,34.809,5,44h38C43,34.809,37.11,27.09,29.089,24.747z M15,15c0-4.963,4.037-9,9-9s9,4.037,9,9c0,4.963-4.037,9-9,9
		        S15,19.963,15,15z M24,26c8.735,0,15.953,7.013,16.896,16H7.104C8.047,33.013,15.265,26,24,26z"/></g>
            </svg>
                </a>
            </li>
            <li>
                <a href="/favourites" title="Favourites product" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7
		        C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z
		         M15.111,9c2.85,0,5.574,1.366,7.288,3.654L24,14.792l1.601-2.137C27.315,10.366,30.039,9,32.889,9C37.913,9,42,13.087,42,18.111
		        c0,2.888-1.329,5.546-3.648,7.291l-0.097,0.073l-0.088,0.085L24,39.222L9.833,25.56l-0.088-0.085l-0.097-0.073
		        C7.33,23.657,6,20.999,6,18.111C6,13.087,10.087,9,15.111,9z"/>
                </g>
                </svg>
                </a>
            </li>
            <li>
                <a href="/shopping-bag" title="User shopping bag" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M4,40c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4l0-26h-9.191C33.865,8.888,29.382,5,24,5s-9.865,3.888-10.809,9H4L4,40z M24,7
		        c4.275,0,7.855,2.998,8.768,7H15.232C16.145,9.998,19.725,7,24,7z M13,16v6h2v-6h18v6h2v-6h7l0,24c0,1.103-0.897,2-2,2H8
		        c-1.103,0-2-0.897-2-2l0-24H13z"/>
                </g>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <div class="side-nav-search">
            <form action="/search" method="get" class="side-nav-search-form">
                <input type="text" placeholder="Search" class="side-nav-search-input">
                <button type="submit">
                    <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                </button>
            </form>
        </div>
        <h1>Collection</h1>
        <ul>
            <li><a href="#" title="New collection">New in</a></li>
            <li><a href="#" title="Mini dresses">Mini</a></li>
            <li><a href="#" title="Midi dresses">Midi</a></li>
            <li><a href="#" title="Long dresses">Long</a></li>
            <li><a href="#" title="Sale dresses">Sale</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="alert-container" th:insert="/index.html :: error-info"></div>
    <div class="panels-account-header">
        <h5>My account</h5>
    </div>
    <div class="panels-account">
        <div class="panel-account panel-account-links">
            <ul id="account-links">
                <li><a href="/orders" class="a-account-links" title="User orders">My orders</a></li>
                <li><a href="/account" class="a-account-links" title="My data">My data</a></li>
                <li><a href="/addresses" class="a-account-links active" title="My address">My address</a></li>
                <li><a href="/logout" class="a-account-links" title="Sign out">Sign out</a></li>
            </ul>
        </div>
        <div class="panel-account panel-account-data">
            <div class="account-data">
                <form action="#" th:action="@{'/modify-address/' + ${id}}" th:object="${updateAddress}" method="post"
                      class="account-data-container">
                    <div class="account-text">
                        <h4>My data</h4>
                        <span>* required fields </span>
                    </div>
                    <div class="account-data-input">
                        <div>
                            <h3>First name*</h3>
                            <input type="text" th:field="*{firstName}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>Last name*</h3>
                            <input type="text" th:field="*{lastName}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>Phone number*</h3>
                            <input type="text" th:field="*{phoneNumber}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>Street*</h3>
                            <input type="text" th:field="*{street}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>Number*</h3>
                            <input type="text" th:field="*{no}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('no')}" th:errors="*{no}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>Postal code*</h3>
                            <input type="text" th:field="*{postalCode}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>City*</h3>
                            <input type="text" th:field="*{city}" class="account-input" required autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                    <div class="account-data-input">
                        <div>
                            <h3>Information*</h3>
                            <input type="text" th:field="*{information}" class="account-input" maxlength="50" autofocus>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('information')}" th:errors="*{information}"></span>
                    <div class="btn-to-right">
                        <input type="submit" class="btn btn-data-account" value="Change data">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panels-account-footer"></div>
</main>

<script type="text/javascript" src="/js/js.js"></script>
<script type="text/javascript">
    var panel = document.getElementById("account-links");
    var aAccountLinks = panel.getElementsByClassName("a-account-links");
    for (var i = 0; i < aAccountLinks.length; i++) {
        aAccountLinks[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

</body>
</html>