<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/img/veshje-icon.png" rel="icon" type="image/png"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VESHJE</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
    <span class="open-slide">
        <a href="#" onclick="openSlideMenu()">
            <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,14 30,14" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,23 30,23" stroke="#000000" stroke-width="1.5"/>
        </svg>
        </a>
    </span>
        <a href="/" class="image-logo" title="Veshje - go to homepage">
            <img src="/img/veshje-logo.svg" alt="Veshje online shop - logo">
        </a>
        <ul class="navbar-nav">
            <li>
                <form th:action="@{/products/all/filter}" method="get" class="search-form" id="search-form">
                    <div class="input-div one">
                        <div class="i">
                            <a href="javascript:;" onclick="document.getElementById('search-form').submit()">
                                <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;"
                                     xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                            </a>
                        </div>
                        <div>
                            <h5>Search</h5>
                            <input class="input" type="text" name="keyword" required>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/account" title="User account" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M29.089,24.747C32.6,22.909,35,19.238,35,15c0-6.075-4.925-11-11-11S13,8.925,13,15c0,4.238,2.4,7.909,5.911,9.747
		        C10.89,27.09,5,34.809,5,44h38C43,34.809,37.11,27.09,29.089,24.747z M15,15c0-4.963,4.037-9,9-9s9,4.037,9,9c0,4.963-4.037,9-9,9
		        S15,19.963,15,15z M24,26c8.735,0,15.953,7.013,16.896,16H7.104C8.047,33.013,15.265,26,24,26z"/></g>
            </svg>
                </a>
            </li>
            <li>
                <a href="/favourites" title="Favourites product" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7
		        C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z
		         M15.111,9c2.85,0,5.574,1.366,7.288,3.654L24,14.792l1.601-2.137C27.315,10.366,30.039,9,32.889,9C37.913,9,42,13.087,42,18.111
		        c0,2.888-1.329,5.546-3.648,7.291l-0.097,0.073l-0.088,0.085L24,39.222L9.833,25.56l-0.088-0.085l-0.097-0.073
		        C7.33,23.657,6,20.999,6,18.111C6,13.087,10.087,9,15.111,9z"/>
                </g>
                </svg>
                </a>
            </li>
            <li>
                <a href="/shopping-bag" title="User shopping bag" class="navbar-nav-icon"
                   th:style="${quantityProduct > 0} ? 'fill: #2b6044' ">
                    <div th:if="${quantityProduct > 0 && quantityProduct <= 9}" class="quantity-shopping-bag">
                        [[${quantityProduct}]]
                    </div>
                    <div th:if="${quantityProduct > 10}" class="quantity-shopping-bag-two">[[${quantityProduct}]]</div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M4,40c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4l0-26h-9.191C33.865,8.888,29.382,5,24,5s-9.865,3.888-10.809,9H4L4,40z M24,7
		        c4.275,0,7.855,2.998,8.768,7H15.232C16.145,9.998,19.725,7,24,7z M13,16v6h2v-6h18v6h2v-6h7l0,24c0,1.103-0.897,2-2,2H8
		        c-1.103,0-2-0.897-2-2l0-24H13z"/>
                </g>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <div class="side-nav-search">
            <form th:action="@{/products/all/filter}" method="get" class="side-nav-search-form">
                <input type="text" name="keyword" placeholder="Search" class="side-nav-search-input" required>
                <button type="submit">
                    <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                </button>
            </form>
        </div>
        <h1>Collection</h1>
        <ul>
            <li><a href="/products/new" title="New collection">New in</a></li>
            <li><a href="/products/mini" title="Mini dresses">Mini</a></li>
            <li><a href="/products/midi" title="Midi dresses">Midi</a></li>
            <li><a href="/products/long" title="Long dresses">Long</a></li>
            <li><a href="/products/sale" title="Sale dresses">Sale</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="alert-information-container" th:fragment="error-info">
        <div th:if="${param.errorStock}" class="alert-information" id="out-of-stock-information">
            <div class="alert-information-error-stock">
                <div class="alert-information-error-stock-details">
                    <span class="span-error-stock">At least one product is currently out of stock and unavailable!</span>
                    <div class="button-error-stock">
                        <a href="/shopping-bag" class="btn">Back to shopping bag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panels-cart">
        <div class="panel-cart">
            <div class="back-to-cart">
                <a href="/shopping-bag">&#10094; Back to cart</a>
            </div>
            <div class="order-container">
                <form th:action="@{'/checkout/order/deliveries'}" th:object="${orderCheckoutDetailsDelivery}"
                      method="post" id="order-delivery-form">
                    <h1>Shipping method</h1>
                    <div class="order-shipping-container">
                        <div class="order-shipping-radio">
                            <input th:field="*{deliveryId}" type="radio" th:value="${deliveries.get(0).id}"
                                   th:id="${deliveries.get(0).id}" class="order-shipping-input"
                                   onclick="submitDelivery()">
                            <input th:if="${deliveries.get(0).id == deliveryIdOrderCheckoutDetails}" type="radio" class="order-shipping-input" checked>
                            <label th:for="${deliveries.get(0).id}" class="order-shipping-label">
                                <i class="fas fa-home"></i>
                                <span class="order-shipping-span">[[${deliveries.get(0).name}]]<br/>
                                                            <span>[[${deliveries.get(0).timeDelivery}]]</span>
                                                        </span>
                            </label>
                        </div>
                        <div class="order-shipping-radio">
                            <input th:field="*{deliveryId}" type="radio" th:name="deliveryId" th:value="${deliveries.get(1).id}"
                                   th:id="${deliveries.get(1).id}" class="order-shipping-input"
                                   onclick="submitDelivery()">
                            <input th:if="${deliveries.get(1).id == deliveryIdOrderCheckoutDetails}" type="radio" class="order-shipping-input" checked>
                            <label th:for="${deliveries.get(1).id}" class="order-shipping-label">
                                <i class="fas fa-truck"></i>
                                <span class="order-shipping-span">[[${deliveries.get(1).name}]]<br/>
                                                            <span>[[${deliveries.get(1).timeDelivery}]]</span>
                                                        </span>
                            </label>
                        </div>
                    </div>
                </form>
                <form action="#" th:action="@{'/checkout/order/placeOrder'}" th:object="${orderCheckoutDetails}" method="post">
                    <h1>Shipping address</h1>
                    <div class="order-shipping-container">
                        <div class="order-shipping-radio" th:each="address: ${addresses}">
                            <input th:field="*{addressId}" type="radio" th:name="addressId" th:value="${address.id}"
                                   th:id="${address.street}"
                                   class="order-shipping-input" required>
                            <label th:for="${address.street}" class="order-shipping-label">
                                <span class="order-shipping-span">[[${address.firstName}]] [[${address.lastName}]]<br/>
                                    <span>[[${address.street}]] [[${address.no}]]<br/>[[${address.postalCode}]] [[${address.city}]]</span>
                                    <span>[[${address.phoneNumber}]]</span>
                                </span>
                            </label>
                        </div>
                        <div class="order-shipping-radio order-shipping-radio-add" id="order-shipping-radio-add">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </div>
                    <h1>Payment method</h1>
                    <div class="order-shipping-container">
                        <div class="order-shipping-radio">
                            <input th:field="*{paymentId}" type="radio" th:name="paymentId" th:value="${payments.get(0).id}"
                                   th:id="${payments.get(0).name}"
                                   class="order-shipping-input" required>
                            <label th:for="${payments.get(0).name}" class="order-shipping-label">
                                <span class="order-shipping-span">
                                    <img class="img-icon-color" src="/img/orders/przelewy24_color.png" alt="Przelewy24">
                                </span>
                            </label>
                        </div>
                        <div class="order-shipping-radio">
                            <input th:field="*{paymentId}" type="radio" th:name="paymentId" th:value="${payments.get(1).id}"
                                   th:id="${payments.get(1).name}"
                                   class="order-shipping-input" required>
                            <label th:for="${payments.get(1).name}" class="order-shipping-label">
                                <span class="order-shipping-span">
                                    <img class="img-icon-color" src="/img/orders/payu_color.png" alt="PayU">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="order-shipping-container-submit">
                        <button th:if="${isEmpty} != true" type="submit" class="btn btn-order">
                            <span class="btn-order-span">Shop and pay</span>
                            <span th:if="${containsCouponCode} != true">total <span class="btn-order-span">
                                € [[${totalPriceWithDelivery}]]</span> with VAT</span>
                            <span th:if="${containsCouponCode} == true">total <span class="btn-order-span">
                                € [[${totalSalePriceWithDelivery}]]</span> with VAT</span>
                        </button>
                        <button th:if="${isEmpty} == true" class="btn btn-order" disabled>
                            <span class="btn-order-span">Shop and pay</span>
                        </button>
                        <div class="order-information-term">
                            When you click Shop and Pay you will create your order. When you order at
                            <strong>Veshje</strong>,
                            you agree to our <a href="/terms-and-conditions">Terms & Conditions</a>.
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-cart-summary">
            <div class="cart-summary">
                <h4>Summary</h4>
                <div class="description-list">
                    <dt>Products price</dt>
                    <dd th:if="${containsCouponCode} != true">€ [[${total}]]</dd>
                    <dd th:if="${containsCouponCode} == true">€ [[${totalSalePrice}]]</dd>
                </div>
                <div class="description-list">
                    <dt>Delivery</dt>
                    <dd th:if="${priceDeliveryById} == null">FROM € [[${priceDelivery}]]
                        <i class="fas fa-info-circle" id="table-delivery-zoom"></i>
                    </dd>
                    <dd th:if="${priceDeliveryById > 0 && priceDeliveryById != null}">€ [[${priceDeliveryById}]]
                    </dd>
                    <dd th:if="${priceDeliveryById == 0 && priceDeliveryById != null}" class="delivery-strong-free">Free
                    </dd>
                </div>
                <hr class="description-list-hr">
                <div class="description-list">
                    <dt>Total with VAT</dt>
                    <dd th:if="${totalPriceWithDelivery == null || totalSalePriceWithDelivery == null}">FROM € [[${priceDelivery}]]
                    </dd>
                    <dd th:if="${containsCouponCode != true && totalPriceWithDelivery != null}" th:text="'€ ' + ${totalPriceWithDelivery}"></dd>
                    <dd th:if="${containsCouponCode == true && totalPriceWithDelivery != null}" th:text="'€ ' + ${totalSalePriceWithDelivery}"></dd>
                </div>

                <h3>I have coupon code</h3>
                <form th:if="${containsCouponCode} != true" action="#" th:action="@{'/checkout/order/add-coupon'}"
                      th:object="${couponCode}" method="get"
                      class="add-discount-form">
                    <div class="add-coupon">
                        <div class="cart-data-input">
                            <input th:field="*{couponCode}" th:value="${couponCode.couponCode}"
                                   th:id="${couponCode.couponCode}" th:name="${couponCode.couponCode}" type="text"
                                   class="add-coupon-input">
                        </div>
                        <div class="cart-data-input">
                            <input type="submit" class="btn-add-coupon" value="Add" th:disabled="${cartIsEmpty}">
                        </div>
                    </div>
                </form>
                <div th:if="${containsCouponCode} == true" class="add-discount-form">
                    <div class="add-coupon">
                        <div class="cart-data-input">
                            <input th:value="${addCouponCode}" type="text" class="add-coupon-input" disabled>
                        </div>
                        <div class="cart-data-input">
                            <a th:href="'/checkout/order/remove-coupon'">
                                <button type="submit" class="btn-add-coupon btn-remove-coupon">Remove coupon
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="alert-container" th:fragment="error-info">
                    <div th:if="${param.error}" class="alert-coupon-code">
                        <i class="fas fa-times"></i>Discount code is not exists or expired
                    </div>
                    <div th:if="${containsCouponCode} == true" class="success-coupon-code">
                        <i class="fas fa-check"></i>Your coupon were applied successfully!
                    </div>
                </div>
                <div class="products-summary" id="products-summary-id">
                    <span class="product-summary-desc">Your order</span>
                    <span class="product-summary-quantity">[[${quantityProduct}]] QTY</span>
                </div>
                <div class="products-summary-panel" id="products-summary-panel-id">


                    <div class="table-shopping-cart table-order-summary" th:each="product: ${shoppingCart}">
                        <div class="table-shopping-cart-img table-shopping-cart-img-summary">
                            <div class="product-display-img-summary">
                                <img th:src="|data:image/png;base64,${product.productImage}|" style="height: 200px">
                            </div>
                        </div>
                        <div class="table-data table-data-summary">
                            <div class="table-data-details data-cart-details">
                                <span th:text="${product.productName}"></span>
                            </div>
                            <div class="table-data-details">
                                <span th:text="'INDEX: ' + ${product.productId}"></span>
                            </div>
                            <div class="table-data-details">
                                <span th:text="'SIZE: ' + ${product.sizeType}"></span>
                            </div>
                            <div class="table-data-details">
                                <span th:if="${containsCouponCode} != true"
                                      th:text="'PRICE: € ' + ${product.productPrice}"></span>
                                <span th:if="${containsCouponCode} == true">PRICE: <s>€ [[${product.productPrice}]]</s>
                            <span class="product-sale-price product-sale-price-summary">€[[${product.productSalePrice}]]</span>
                        </span>
                            </div>
                            <div class="table-data-details">
                                <span th:text="'QTY: ' + ${product.quantity}"></span>
                            </div>
                        </div>
                        <span th:if="${containsCouponCode} != true"
                              th:text="'€' + ${product.quantity * product.productPrice}"></span>
                        <div th:if="${containsCouponCode} == true">
                            <s>€ [[${product.quantity * product.productPrice}]]</s><br/>
                            <span class="product-sale-price">€[[${product.quantity * product.productSalePrice}]]</span>
                        </div>
                    </div>
                </div>
                <div class="description-list-footer">
                    <div class="description-list">
                        <dt>Shipments</dt>
                        <dd>
                            <a href="/shipping">
                                <img class="img-icon-shipping" src="/img/orders/dpd-white.png" alt="DPD delivery">
                            </a>
                            <a href="/shipping">
                                <img class="img-icon-shipping" src="/img/orders/inpost-white.png" alt="Inpost delivery">
                            </a>
                        </dd>
                    </div>
                    <hr class="description-list-hr">
                    <div class="description-list">
                        <dt>Payments</dt>
                        <dd>
                            <a href="/payments">
                                <img class="img-icon-payments" src="/img/orders/przelewy-white.png" alt="Przelewy24">
                            </a>
                            <a href="/payments">
                                <img class="img-icon-payments" src="/img/orders/payu.png" alt="PayU">
                            </a>
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order-add-address-table" id="order-add-address-table">
        <div class="order-add-address-table-cart fade">
            <div class="order-add-address-container" id="order-add-address-container">
                <span class="close-zoom-table">&times;</span>
                <form action="#" th:action="@{/checkout/order/add-address}" th:object="${createAddress}" method="post"
                      class="account-data-container" id="account-data-form">
                    <div class="account-data-address-container">
                        <div class="account-text">
                            <h4>My data</h4>
                            <span>* required fields </span>
                        </div>
                        <div class="account-address-container">
                            <div class="account-data-input">
                                <h3>First name*</h3>
                                <input type="text" id="address-first-name" th:field="*{firstName}"
                                       class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                            <div class="account-data-input">
                                <h3>Last name*</h3>
                                <input type="text" id="address-last-name" th:field="*{lastName}" class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-address-container">
                            <div class="account-data-input">
                                <h3>Phone number*</h3>
                                <input type="text" id="address-phone-number" th:field="*{phoneNumber}"
                                       class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-address-container">
                            <div class="account-data-input">
                                <h3>Street*</h3>
                                <input type="text" id="address-street" th:field="*{street}" class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                            <div class="account-data-input">
                                <h3>Number*</h3>
                                <input type="text" id="address-number" th:field="*{no}"
                                       class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-address-container">
                            <div class="account-data-input">
                                <h3>Postal code*</h3>
                                <input type="text" id="address-postal-code" th:field="*{postalCode}"
                                       class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                            <div class="account-data-input">
                                <h3>City*</h3>
                                <input type="text" id="address-city" th:field="*{city}" class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-address-container">
                            <div class="account-data-input">
                                <h3>Information</h3>
                                <input type="text" id="address-information" th:field="*{information}"
                                       class="account-input">
                                <i class="fas fa-check-square"></i>
                                <i class="fas fa-minus-square"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                    </div>
                    <div class="btn-to-right">
                        <input type="submit" class="btn btn-data-account-order" value="Add address">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="delivery-table" id="delivery-table">
        <div class="delivery-table-cart fade">
            <div class="delivery-container" id="delivery-container">
                <span class="close-zoom-table">&times;</span>
                <h2>Time and cost of delivery</h2>
                <div class="delivery-table-details">
                    <div class="delivery-details">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="delivery-details">
                        <div th:text="${deliveries.get(0).name}"></div>
                        <div th:text="${deliveries.get(0).timeDelivery}"></div>
                    </div>
                    <div class="delivery-details">
                        <div>For orders under €100 - <strong class="delivery-strong-price">€[[${deliveries.get(0).price}]]</strong>
                        </div>
                        <div>Over €100 <strong class="delivery-strong-free">free delivery</strong></div>
                    </div>
                </div>
                <hr class="description-list-hr">
                <div class="delivery-table-details">
                    <div class="delivery-details">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="delivery-details">
                        <div th:text="${deliveries.get(1).name}"></div>
                        <div th:text="${deliveries.get(1).timeDelivery}"></div>
                    </div>
                    <div class="delivery-details">
                        <div>For orders under €100 - <strong class="delivery-strong-price">€[[${deliveries.get(1).price}]]</strong>
                        </div>
                        <div>Over €100 <strong class="delivery-strong-free">free delivery</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/js.js"></script>
<script type="text/javascript" src="/js/validate-form.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    function submitDelivery() {
        document.getElementById("order-delivery-form").submit();
    }
</script>
<script type="text/javascript">
    var orderAddAddressTable = document.getElementById("order-add-address-table");
    var orderAddAddressContainer = document.getElementById("order-add-address-container");
    const orderShippingRadioAdd = document.getElementById("order-shipping-radio-add");

    orderShippingRadioAdd.onclick = function () {
        orderAddAddressTable.style.display = "block";
        orderAddAddressContainer.src = this.src;
    }

    var closeOrderAddAddress = document.getElementsByClassName("close-zoom-table")[0];
    closeOrderAddAddress.onclick = function () {
        orderAddAddressTable.style.display = "none";
    }
</script>
<script type="text/javascript">
    var productsSummary = document.getElementById("products-summary-id");

    productsSummary.addEventListener("click", function () {
        this.classList.toggle("active-product-summary");
        var panelSummary = document.getElementById("products-summary-panel-id");
        if (panelSummary.style.maxHeight) {
            panelSummary.style.maxHeight = null;
        } else {
            panelSummary.style.maxHeight = panelSummary.scrollHeight + "px";
        }
    });
</script>
<script>
    var deliveryTable = document.getElementById("delivery-table");
    var deliveryContainer = document.getElementById("delivery-container");
    const tableDeliveryZoom = document.getElementById("table-delivery-zoom");

    tableDeliveryZoom.onclick = function () {
        deliveryTable.style.display = "block";
        deliveryContainer.src = this.src;
    }

    var closeDeliveryTable = document.getElementsByClassName("close-zoom-table")[1];
    closeDeliveryTable.onclick = function () {
        deliveryTable.style.display = "none";
    }
</script>
</body>
</html>