<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/img/veshje-icon.png" rel="icon" type="image/png"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>VESHJE</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
    <span class="open-slide">
        <a href="#" onclick="openSlideMenu()">
            <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,14 30,14" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,23 30,23" stroke="#000000" stroke-width="1.5"/>
        </svg>
        </a>
    </span>
        <a href="/" class="image-logo" title="Veshje - go to homepage">
            <img src="/img/veshje-logo.svg" alt="Veshje online shop - logo">
        </a>
        <ul class="navbar-nav">
            <li>
                <form th:action="@{/search}" method="get" class="search-form" id="search-form">
                    <div class="input-div one">
                        <div class="i">
                            <a href="javascript:;" onclick="document.getElementById('search-form').submit()">
                                <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;"
                                     xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                            </a>
                        </div>
                        <div>
                            <h5>Search</h5>
                            <input class="input" type="text" name="keyword" required>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/account" title="User account" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M29.089,24.747C32.6,22.909,35,19.238,35,15c0-6.075-4.925-11-11-11S13,8.925,13,15c0,4.238,2.4,7.909,5.911,9.747
		        C10.89,27.09,5,34.809,5,44h38C43,34.809,37.11,27.09,29.089,24.747z M15,15c0-4.963,4.037-9,9-9s9,4.037,9,9c0,4.963-4.037,9-9,9
		        S15,19.963,15,15z M24,26c8.735,0,15.953,7.013,16.896,16H7.104C8.047,33.013,15.265,26,24,26z"/></g>
            </svg>
                </a>
            </li>
            <li>
                <a href="/favourites" title="Favourites product" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7
		        C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z
		         M15.111,9c2.85,0,5.574,1.366,7.288,3.654L24,14.792l1.601-2.137C27.315,10.366,30.039,9,32.889,9C37.913,9,42,13.087,42,18.111
		        c0,2.888-1.329,5.546-3.648,7.291l-0.097,0.073l-0.088,0.085L24,39.222L9.833,25.56l-0.088-0.085l-0.097-0.073
		        C7.33,23.657,6,20.999,6,18.111C6,13.087,10.087,9,15.111,9z"/>
                </g>
                </svg>
                </a>
            </li>
            <li>
                <a href="/shopping-bag" title="User shopping bag" class="navbar-nav-icon"
                   th:style="${quantityProduct > 0} ? 'fill: #2b6044' ">
                    <div th:if="${quantityProduct > 0}" class="quantity-shopping-bag">[[${quantityProduct}]]</div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M4,40c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4l0-26h-9.191C33.865,8.888,29.382,5,24,5s-9.865,3.888-10.809,9H4L4,40z M24,7
		        c4.275,0,7.855,2.998,8.768,7H15.232C16.145,9.998,19.725,7,24,7z M13,16v6h2v-6h18v6h2v-6h7l0,24c0,1.103-0.897,2-2,2H8
		        c-1.103,0-2-0.897-2-2l0-24H13z"/>
                </g>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <div class="side-nav-search">
            <form th:action="@{/search}" method="get" class="side-nav-search-form">
                <input type="text" name="keyword" placeholder="Search" class="side-nav-search-input" required>>
                <button type="submit">
                    <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                </button>
            </form>
        </div>
        <h1>Collection</h1>
        <ul>
            <li><a href="/products/new" title="New collection">New in</a></li>
            <li><a href="/products/mini" title="Mini dresses">Mini</a></li>
            <li><a href="/products/midi" title="Midi dresses">Midi</a></li>
            <li><a href="/products/long" title="Long dresses">Long</a></li>
            <li><a href="/products/sale" title="Sale dresses">Sale</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="alert-container" th:insert="/index.html :: error-info"></div>
    <div class="panels-account-header">
        <h5>Help and information</h5>
    </div>
    <div class="panels-account">
        <div class="panel-account panel-help-links">
            <ul id="help-links">
                <li><a href="/contact" class="a-help-links" title="Contact">Contact</a></li>
                <li><a href="/shop-at-veshje" class="a-help-links" title="Shop at Veshje">Shop at Veshje</a></li>
                <li><a href="/about-product" class="a-help-links active" title="Products info">Products info</a></li>
                <li><a href="/gift-cards" class="a-help-links" title="Gift cards">Gift cards</a></li>
                <li><a href="/payment" class="a-help-links" title="Payments">Payments</a></li>
                <li><a href="/shipping" class="a-help-links" title="Shipping">Shipping</a></li>
                <li><a href="/exchange-and-returns" class="a-help-links" title="Exchange and returns">Exchange and
                    returns</a></li>
                <li><a href="/about" class="a-help-links" title="About">About</a></li>
                <li><a href="/career" class="a-help-links" title="Career">Career</a></li>
                <li><a href="/privacy-policy" class="a-help-links" title="Privacy policy">Privacy policy</a></li>
                <li><a href="/terms-and-conditional" class="a-help-links" title="Terms and conditional">Terms and
                    conditional</a></li>
            </ul>
        </div>
        <div class="panel-account panel-account-data">
            <div class="help-data">
                <div class="contact-text">
                    <h4>About product</h4>
                </div>
                <div class="help-contact-info">
                    <p>At Veshje we’re committed to creating great fashion at the best price in a sustainable way.
                        All our products are made with care and consideration for the people who make them and for the
                        environment.</p>

                    <p>So, what do we count? To qualify for a green hangtag, a product must contain at least 50%
                        sustainable materials, such as organic cotton and recycled polyester — but many of our garments
                        contain more than that. The only exception is recycled cotton, which can only make up 20% of a
                        product due to quality restraints. We are, however, working with innovations to increase this
                        share as soon as possible. By choosing Veshje products, you help us make the fashion industry
                        more sustainable!</p>

                    <div class="contact-text">
                        <h4>Washing Instructions</h4>
                    </div>
                    <p>Paying some extra attention to how you wash your clothes will not only prolong their life,
                        but also help minimize the environmental impact and save our natural resources.
                        The washing instructions on the label will give you advise on how to best care for your garment,
                        and here are some other resourceful advice.</p>

                    <dl>
                        <dt class="term-name">Chunky-knits</dt>
                        <dd class="term-describes">Chunky-knits should be reshaped and dried flat to maintain the
                            original shape, which is why these garments are additionally labelled “Dry flat”.
                        </dd>

                        <dt class="term-name">Linen</dt>
                        <dd class="term-describes">Linen is a natural material and can easily get mis-shapen when wet.
                            To restore the garment to its original shape, iron it with a hot steam iron.
                            To keep its sheen, iron the garment on the reverse side.
                        </dd>

                        <dt class="term-name">Viscose</dt>
                        <dd class="term-describes">Viscose is an artificial fiber from cellulose and can easily get
                            mis-shapen when wet. To restore the garment easily to its original shape, iron it with
                            a steam iron.
                        </dd>

                        <dt class="term-name">Silk</dt>
                        <dd class="term-describes">Silk is a very delicate material and should be treated with care.
                            Use a detergent for delicates when washing silk and do not stretch the garment while wet.
                        </dd>

                        <dt class="term-name">Wool</dt>
                        <dd class="term-describes">Often, airing woollen garments is enough. Use a detergent for
                            delicates when you do wash them. Use the wool or hand wash cycle on your washing machine or
                            wash by hand. Iron after washing to restore the natural sheen.
                        </dd>

                        <dt class="term-name">Denim</dt>
                        <dd class="term-describes">Wash jeans inside out to reduce fade. Remove them from the washing
                            machine as soon as possible after the programme has ended to avoid creasing.
                            Denim’s characteristic appearance is the result of a special dyeing method.
                            As a result, small pigment particles may remain on the surface and can rub off.
                        </dd>

                        <dt class="term-name">Leather and suede</dt>
                        <dd class="term-describes">Leather and suede garments should be taken to a leather specialist
                            for cleaning. Follow the care instructions.
                        </dd>

                        <dd class="term-describes">Shoe polish and/or waterproofing spray should be applied to leather
                            shoes and bags. This simple measure will improve their protection against water, extending
                            the life of your shoes/bag and making them more capable of withstanding dirt.
                        </dd>

                        <dd class="term-describes">Just use waterproofing spray for suede and nubuck, not polish. Try
                            not to wear your suede/nubuck shoes or carry your suede/nubuck bag if it is raining or very
                            damp out, because this could cause staining on the product and the dye in the product could
                            rub off onto your belongings more easily. Insert shoe trees to keep your shoes in shape,
                            and use a shoe horn to protect the highbacks/heels of your shoes when you put them on.
                            Undo your laces and buckles when taking your shoes off and putting them on.
                        </dd>

                        <dt class="term-name">Down jackets</dt>
                        <dd class="term-describes">Place tennis balls in the tumble dryer when drying down garments to
                            distribute the down evenly. The down must be dried completely.
                        </dd>

                        <dt class="term-name">Rainwear</dt>
                        <dd class="term-describes">Rainwear should drip-dry. If you dry them in a drying cabinet, do so
                            at a low temperature. Follow the care instructions.
                        </dd>

                        <dt class="term-name">Details</dt>
                        <dd class="term-describes">Take off removable details and do up Velcro and zip fastenings before
                            washing. Wash nylon tights and delicate garments with details in a laundry bag.
                        </dd>
                    </dl>
                        <div class="contact-text">
                            <h4>Washing</h4>
                        </div>

                        <p>Washing, drying and ironing your clothes accounts for 36% of the total environmental impact
                            of the average garment during its lifetime!</p>

                        <p>This can be more than halved if we make smarter choices.</p>

                        <p>You can help the planet and your wardrobe by washing your clothes less frequently,
                            reducing the washing temperature, ironing less and avoiding tumble-drying.</p>

                        <p>Choosing smart care methods can help you to extend the life of your wardrobe favourites while
                            also reducing your environmental impact, and your clothes will be just as clean.</p>

                    <dl>
                        <dt class="term-name">Don't wash clothes unnecessary</dt>
                        <dd class="term-describes">Don’t wash clothes that are not dirty. Often, airing and brushing
                            clothes is enough.
                        </dd>

                        <dt class="term-name">Lower the washing temperature</dt>
                        <dd class="term-describes">Veshje always labels its garments with the highest permitted
                            temperature. But you can select a lower washing temperature to save energy. Most detergents
                            wash just as well at lower temperatures. Washing at 40°C uses around half as much energy as
                            washing at 60°C. Recommends that heavily soiled clothes and underwear are always washed at
                            the highest temperature allowed. Do not wash your clothes at temperatures hotter than those
                            stated in the care instructions.
                        </dd>

                        <dt class="term-name">Fill your washing machine</dt>
                        <dd class="term-describes">Sort the clothes by colour and washing temperature.
                            Fill up your washing machine, but don’t stuff too much in.
                            A washing machine is full when you can place a clenched fist on top of the washing without
                            compressing the clothes. Use an energy saving programme – most modern washing machines have
                            one.
                        </dd>

                        <dt class="term-name">Choose a more eco-friendly laundry detergent</dt>
                        <dd class="term-describes">Use a more environmentally friendly detergent that is free from
                            optical whiteners and phosphates, since these have a negative environmental impact when
                            released into nature. Dose the detergent as stated on the packaging. Overdosing detergent
                            will not make your clothes cleaner. To get the dose right, you need to know whether you have
                            hard or soft water. Avoid fabric conditioners, although H&M recommends that acrylic garments
                            are washed with fabric conditioner to counter static electricity in the garment after washing.
                        </dd>

                        <dt class="term-name">Avoid dry cleaning</dt>
                        <dd class="term-describes">Dry cleaning is a process in which the clothes are cleaned using an
                            organic solvent. Dry cleaning has a negative environmental impact when the solvent is
                            released into nature. A small proportion of Veshje’s garments are dry clean only,
                            because they contain details or materials than could change colour or become misshapen by
                            washing at home. Today, there are also greener methods of dry cleaning that clean the
                            clothes using only carbon dioxide reclaimed from industry. This type of dry cleaning
                            therefore does not release chemicals.
                        </dd>

                        <dt class="term-name">Leave your washing out to dry</dt>
                        <dd class="term-describes">It is preferable to leave your washing out to dry since tumble
                            drying and drying cabinets use a lot of energy. To reduce drying time, gentle cycle the
                            clothes well before taking them out of the washing machine.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="panels-account-footer"></div>
</main>
<footer class="footer-container">
    <div class="accordion-container">
        <div class="accordion-cart">
            <h4 class="accordion">Shop</h4>
            <ul class="panel">
                <li><a href="/products/new" title="New collection">New in</a></li>
                <li><a href="/products/mini" title="Mini dresses">Mini</a></li>
                <li><a href="/products/midi" title="Midi dresses">Midi</a></li>
                <li><a href="/products/long" title="Long dresses">Long</a></li>
                <li><a href="/products/sale" title="Sale dresses">Sale</a></li>
            </ul>
        </div>
        <div class="accordion-cart">
            <h4 class="accordion">Help</h4>
            <ul class="panel">
                <li><a href="/shop-at-veshje" title="Shop at veshje">Shop at veshje</a></li>
                <li><a href="/about-product" title="Product">Product</a></li>
                <li><a href="/gift-cards" title="Gift cards">Gift cards</a></li>
                <li><a href="/payment" title="Payment">Payment</a></li>
                <li><a href="/shipping" title="Shipping">Shipping</a></li>
                <li><a href="/exchange-and-returns" title="Exchange and returns">Exchange and returns</a></li>
                <li><a href="/account" title="My account">My account</a></li>
            </ul>
        </div>
        <div class="accordion-cart">
            <h4 class="accordion">Corporate info</h4>
            <ul class="panel">
                <li><a href="/about" title="About Veshje">About</a></li>
                <li><a href="/career" title="Career at Veshje">Career</a></li>
                <li><a href="/contact" title="Contact">Contact</a></li>
                <li><a href="/privacy-policy" title="Legal and privacy">Legal and privacy</a></li>
            </ul>
        </div>

        <div class="accordion-cart" id="newsletter">
            <h4 class="accordion">Newsletter</h4>
            <ul class="panel">
                <form action="#" th:action="@{/about-product/newsletter}" th:object="${aboutProductAddNewsletter}" method="post"
                      class="newsletter-container">
                                    <p>Do you want to receive the newest trends and special offers? Sign up.</p>
                                    <div class="input-div one">
                                        <div class="i">
                                            <svg width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                                                <g id="Shopicon">
                	                            <path d="M40,8H8c-2.2,0-4,1.8-4,4v24c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4V12C44,9.8,42.2,8,40,8z M8,10h32
                		                        c0.701,0,1.317,0.364,1.674,0.912L24,28.586L6.326,10.912C6.683,10.364,7.299,10,8,10z M40,38H8c-1.103,0-2-0.897-2-2V13.414l18,18
                		                        l18-18V36C42,37.103,41.103,38,40,38z"/>
                                                </g>
                                            </svg>
                                        </div>
                                        <div>
                                            <h5>Email</h5>
                                            <input type="email" th:field="*{email}" class="input" required>
                                        </div>
                                    </div>
                                    <span class="error-info" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    <div class="newsletter-checkbox">
                                        <input type="checkbox" name="accept-newsletter-checkbox" required>
                                        I accept <a href="/privacy-policy">newsletter terms</a>
                                    </div>
                                    <input type="submit" class="btn" value="Send">
                                </form>
            </ul>
        </div>
    </div>
    <div class="footer-container-socials">
        <div class="socials">
            <a href="#" title="facebook" class="socials-icon-deep" target="_blank">
                <i class="fab fa-facebook"></i></a>
            <a href="#" title="twitter" class="socials-icon-deep" target="_blank">
                <i class="fab fa-twitter-square"></i></a>
            <a href="#" title="instagram" class="socials-icon-deep" target="_blank">
                <i class="fab fa-instagram"></i></a>
            <a href="#" title="youtube" class="socials-icon-deep" target="_blank">
                <i class="fab fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <p>Veshje © 2020 All rights reserved</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/js.js"></script>
<script type="text/javascript">
    var panel = document.getElementById("help-links");
    var aAccountLinks = panel.getElementsByClassName("a-help-links");
    for (var i = 0; i < aAccountLinks.length; i++) {
        aAccountLinks[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

    var acc = document.getElementsByClassName("accordion");
    var accAccordion;

    for (accAccordion = 0; accAccordion < acc.length; accAccordion++) {
        acc[accAccordion].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>