<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:--rating="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VESHJE</title>
    <link href="/img/veshje-icon.png" rel="icon" type="image/png"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="/css/flickity.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        window.console = window.console || function (t) {
        };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>
<body>
<header class="header">
    <nav class="navbar">
    <span class="open-slide">
        <a href="#" onclick="openSlideMenu()">
            <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,14 30,14" stroke="#000000" stroke-width="1.5"/>
            <path d="M0,23 30,23" stroke="#000000" stroke-width="1.5"/>
        </svg>
        </a>
    </span>
        <a href="/" class="image-logo" title="Veshje - go to homepage">
            <img src="/img/veshje-logo.svg" alt="Veshje online shop - logo">
        </a>
        <ul class="navbar-nav">
            <li>
                <form action="/search" method="get" class="search-form">
                    <div class="input-div one">
                        <div class="i">
                            <a href="/search">
                                <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                            </a>
                        </div>
                        <div>
                            <h5>Search</h5>
                            <input class="input" type="text">
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/account" title="User account" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M29.089,24.747C32.6,22.909,35,19.238,35,15c0-6.075-4.925-11-11-11S13,8.925,13,15c0,4.238,2.4,7.909,5.911,9.747
		        C10.89,27.09,5,34.809,5,44h38C43,34.809,37.11,27.09,29.089,24.747z M15,15c0-4.963,4.037-9,9-9s9,4.037,9,9c0,4.963-4.037,9-9,9
		        S15,19.963,15,15z M24,26c8.735,0,15.953,7.013,16.896,16H7.104C8.047,33.013,15.265,26,24,26z"/></g>
            </svg>
                </a>
            </li>
            <li>
                <a href="/favourites" title="Favourites product" class="navbar-nav-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7
		        C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z
		         M15.111,9c2.85,0,5.574,1.366,7.288,3.654L24,14.792l1.601-2.137C27.315,10.366,30.039,9,32.889,9C37.913,9,42,13.087,42,18.111
		        c0,2.888-1.329,5.546-3.648,7.291l-0.097,0.073l-0.088,0.085L24,39.222L9.833,25.56l-0.088-0.085l-0.097-0.073
		        C7.33,23.657,6,20.999,6,18.111C6,13.087,10.087,9,15.111,9z"/>
                </g>
                </svg>
                </a>
            </li>
            <li>
                <a href="/shopping-bag" title="User shopping bag" class="navbar-nav-icon"
                   th:style="${quantityProduct > 0} ? 'fill: #2b6044' ">
                    <div th:if="${quantityProduct > 0}" class="quantity-shopping-bag">[[${quantityProduct}]]</div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M4,40c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4l0-26h-9.191C33.865,8.888,29.382,5,24,5s-9.865,3.888-10.809,9H4L4,40z M24,7
		        c4.275,0,7.855,2.998,8.768,7H15.232C16.145,9.998,19.725,7,24,7z M13,16v6h2v-6h18v6h2v-6h7l0,24c0,1.103-0.897,2-2,2H8
		        c-1.103,0-2-0.897-2-2l0-24H13z"/>
                </g>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <div class="side-nav-search">
            <form action="/search" method="get" class="side-nav-search-form">
                <input type="text" placeholder="Search" class="side-nav-search-input">
                <button type="submit">
                    <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                <g id="Shopicon">
	            <path d="M18,32c3.506,0,6.703-1.298,9.159-3.427L40,41.414L41.414,40L28.573,27.159C30.702,24.703,32,21.506,32,18
		        c0-7.732-6.268-14-14-14S4,10.268,4,18S10.268,32,18,32z M18,6c6.617,0,12,5.383,12,12s-5.383,12-12,12S6,24.617,6,18
		        S11.383,6,18,6z"/>
                </g>
            </svg>
                </button>
            </form>
        </div>
        <h1>Collection</h1>
        <ul>
            <li><a href="/products/new" title="New collection">New in</a></li>
            <li><a href="/products/mini" title="Mini dresses">Mini</a></li>
            <li><a href="/products/midi" title="Midi dresses">Midi</a></li>
            <li><a href="/products/long" title="Long dresses">Long</a></li>
            <li><a href="/products/sale" title="Sale dresses">Sale</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="alert-container" th:insert="/index.html :: error-info"></div>
    <div class="panels-general panels-general-product">
        <div class="panel-product">
            <div class="product-container" th:each="image: ${byteImageList}">
                <img class="img-main-panel" th:src="|data:image/png;base64,${image}|"/>
            </div>

            <div class="slideshow-container modal" id="modal">
                <span class="close-zoom">&times;</span>
                <div class="slides fade" th:each="image: ${byteImageList}">
                    <img class="modal-content" id="img-zoom-panel" th:src="|data:image/png;base64,${image}|"/>
                </div>
                <div class="switch-slide">
                    <a class="prev prev-zoom" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next next-zoom" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>
        <div class="panel-product panel-product-cart">
            <div class="product-cart">
                <div class="product-cart-sticky">
                    <div class="header-product-cart">
                        <div class="table-favourites-add">
                            <a th:href="'/favourites/add?id=' + ${product.id}">
                                <i th:if="${exist} != true" class="fas fa-heart"></i>
                                <i th:if="${exist} == true" class="fas fa-heart active-fav">
                                </i>
                            </a>
                        </div>
                        <h1 th:text="${product.name}"></h1>
                        <div class="price-product-cart">
                            <span th:text="'€ '+ ${product.price}"></span>
                        </div>
                        <div class="info-product-cart">
                            <div class="info-product-cart-color" th:text="${product.color}"></div>
                            <div class="info-product-cart-description" th:text="${product.description}"></div>
                            <div class="info-product-cart-index" th:text="'index: ' + ${product.id}"></div>

                            <form action="#" th:action="@{/shopping-bag/add}" th:object="${shoppingCart}"
                                  method="get" class="product-add-cart">
                                <div class="product-size-list">
                                    <input type="hidden" th:value="${product.id}" th:name="productId"
                                           th:id="productId"/>
                                    <input type="hidden" th:value="1" th:name="quantity" th:id="quantity"/>
                                    <div class="product-size" th:each="size: ${sizes}">
                                        <input th:if="${size.quantity > 0}" type="radio" name="radio"
                                               th:field="*{sizeType}" th:value="${size.sizeType}"
                                               th:id="'size-' + ${size.sizeType}"
                                               class="input1">
                                        <input th:if="${size.quantity <= 0}" type="radio" name="radio"
                                               th:id="'size-' + ${size.sizeType}" class="input-disabled" disabled>
                                        <label th:for="'size-' + ${size.sizeType}" class="label1">
                                            <span class="span" th:if="${size.quantity > 0}"
                                                  th:text="${size.sizeType}"></span>
                                            <span class="span span-disabled" th:if="${size.quantity <= 0}"
                                                  th:text="${size.sizeType}"></span>
                                        </label>
                                        <div class="div-disabled" th:if="${size.quantity <= 0}">
                                            <i class="fas fa-envelope"></i>Coming soon
                                        </div>
                                    </div>
                                </div>
                                <div class="product-find-size">
                                    <a href="#" class="btn-general btn-general-display" id="table-size-zoom">Find your
                                        size
                                        <i class="far fa-question-circle"></i></a>
                                </div>
                                <input type="submit" class="btn" value="Add to bag" id="add-to-bag-disabled"
                                       disabled="disabled">
                            </form>
                            <ul>
                                <li class="product-composition-and-care">
                                    <h3 id="flip-care">Composition</h3>
                                    <div id="panel-flip-care">
                                        <div class="product-composition">
                                            <h2>Other shell</h2>
                                            <span th:each="composition: ${compositionProduct}" th:text="${composition.compositionPercent}
                                + '% ' + ${composition.compositionType} + ' '"></span>
                                        </div>
                                        <div class="product-care">
                                            <h2>Care</h2>
                                            <div class="product-care-icon">
                                                <a th:each="maps: ${map}" th:data-title="${maps.value}">
                                                    <img th:alt="${maps.value}"
                                                         th:src="|data:image/png;base64,${maps.key}|"
                                                         style="width: 25px; height: 25px"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="share-product-details">
                                    <h3 id="flip-share">Share</h3>
                                    <div id="panel-flip-share">
                                        <a th:href="'http://www.facebook.com/share.php?u=http://localhost:8080/products/dress-details/' + ${product.id} + '&t=Veshje-shop'">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a th:href="'https://twitter.com/intent/tweet?original_referer=http://localhost:8080&source=tweetbutton&text=Veshje-shop&url=http://localhost:8080/products/dress-details/'
                                + ${product.id} + '&via=Veshje'">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="shipping-product-details">
                                    <h3 id="flip-shipping">Shipping</h3>
                                    <div id="panel-flip-shipping">
                                        <span>Delivery time: 1-5 working days. Free shipping for orders over €100.
                                            Standard delivery: €4.9. We accept Credit/Debit card, PayPal.</span>
                                        <a href="/shipping" title="Shipping">More details</a>
                                    </div>
                                </li>
                                <li class="reviews">
                                    <div class="product-reviews">
                                        <a id="show-review-cart" href="#">Reviews(<span th:text="${current}"></span>)
                                            <div class="stars" th:style="'--rating:'+ ${rateAverage} +';'">
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-review-cart fade" id="product-review-cart">
        <div class="product-review" id="product-review">
            <div class="close-review-panel">
                <span class="close-review">&times;</span>
            </div>
            <div class="review-panel-general">
                <h1>What other customer think</h1>
                <div class="stars"
                     th:style="'--rating:'+ ${rateAverage} +'; --star-size: 30px; font-weight: 800;'"
                     th:text="${rateAverage}"></div>
                <h2>Based on <span th:text="${current}"></span> customer reviews</h2>
                <div class="review-answer">
                    <h3 class="sub-sub-heading">True to size</h3>
                    <span class="review-average-score" th:if="${existReview} != true"
                          th:style="'left:'+ ${rateSizeAverage} + '%;'"></span>
                    <ul class="review-average-scale">
                        <li>Small</li>
                        <li>Spot on</li>
                        <li>Large</li>
                    </ul>
                </div>
                <div class="review-answer">
                    <h3 class="sub-sub-heading">Length</h3>
                    <span class="review-average-score" th:if="${existReview} != true"
                          th:style="'left:'+ ${rateLengthAverage} + '%;'"></span>
                    <ul class="review-average-scale">
                        <li>Short</li>
                        <li>Spot on</li>
                        <li>Long</li>
                    </ul>
                </div>
            </div>
            <div class="review-user-panel">
                <div class="review-user" th:each="review: ${reviews}">
                    <div class="stars"
                         th:style="'--rating:'+ ${review.rate} +';'">
                                                    <span class="review-user-details" th:text="${review.createDate.getDayOfMonth()} + ' '
                                                + ${review.createDate.getMonth()} + ' ' + ${review.createDate.getYear()} "></span>
                    </div>
                    <div class="review-user-details" th:text="${review.comment}"></div>
                    <div class="review-answer">
                        <h3 class="sub-sub-heading">True to size</h3>
                        <span class="review-average-score"
                              th:style="'left:'+ ${review.rateSize} + '%;'"></span>
                        <ul class="review-average-scale">
                            <li>Small</li>
                            <li>Spot on</li>
                            <li>Large</li>
                        </ul>
                    </div>
                    <div class="review-answer">
                        <h3 class="sub-sub-heading">Length</h3>
                        <span class="review-average-score"
                              th:style="'left:'+ ${review.rateLength} + '%;'"></span>
                        <ul class="review-average-scale">
                            <li>Short</li>
                            <li>Spot on</li>
                            <li>Long</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panels-account-footer"></div>
    <div class="recommended-panel">
        <h4>Recommended</h4>
        <div class="carousel" data-flickity='{ "groupCells": true }'>
            <div class="carousel-cell" th:each="recommended: ${recommendedMap}">
                <div class="product-display-img">
                    <a th:href="'/products/dress-details/' + ${recommended.value.id}">
                        <img th:src="|data:image/png;base64,${recommended.key.get(0)}|" style="width: 90%">
                        <img th:src="|data:image/png;base64,${recommended.key.get(1)}|"
                             class="product-container-img-top" style="width: 90%">
                    </a>
                </div>
                <div class="product-display-name">
                    <a th:href="'/products/dress-details/' + ${recommended.value.id}">
                        <span th:text="${recommended.value.name}"></span>
                    </a>
                </div>
                <div class="product-display-price">
                    <span th:text="'€ '+ ${recommended.value.price}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="product-table-size" id="product-table-size">
        <div class="product-table-cart fade">
            <table class="general-table" id="product-table">
                <span class="close-zoom-table">&times;</span>
                <caption>SIZE GUIDE</caption>
                <thead>
                <tr class="general-row">
                    <td class="general-column-product"><strong>Size</strong></td>
                    <td class="general-column-product" th:each="dimension: ${dimensions}"
                        th:text="${dimension.sizeType}"
                        colspan="1"></td>
                </tr>
                </thead>
                <tbody class="general-tbody">
                <tr class="general-row">
                    <td class="general-column-product"><strong>Bust</strong></td>
                    <td class="general-column-product" th:each="dimension: ${dimensions}"
                        th:text="${dimension.bust}"
                        colspan="1"></td>
                </tr>
                <tr class="general-row">
                    <td class="general-column-product"><strong>Waist</strong></td>
                    <td class="general-column-product" th:each="dimension: ${dimensions}"
                        th:text="${dimension.waist}"
                        colspan="1"></td>
                </tr>
                <tr class="general-row">
                    <td class="general-column-product"><strong>Hips</strong></td>
                    <td class="general-column-product" th:each="dimension: ${dimensions}"
                        th:text="${dimension.hips}"
                        colspan="1"></td>
                </tr>
                </tbody>
            </table>
            <span>All measurements are in centimeters.</span>
        </div>
    </div>
</main>
<footer class="footer-container">
    <div class="accordion-container">
        <div class="accordion-cart">
            <h4 class="accordion">Shop</h4>
            <ul class="panel">
                <li><a href="/products/new" title="New collection">New in</a></li>
                <li><a href="/products/mini" title="Mini dresses">Mini</a></li>
                <li><a href="/products/midi" title="Midi dresses">Midi</a></li>
                <li><a href="/products/long" title="Long dresses">Long</a></li>
                <li><a href="/products/sale" title="Sale dresses">Sale</a></li>
            </ul>
        </div>
        <div class="accordion-cart">
            <h4 class="accordion">Help</h4>
            <ul class="panel">
                <li><a href="/shop-at-veshje" title="Shop at veshje">Shop at veshje</a></li>
                <li><a href="/about-product" title="Product">Product</a></li>
                <li><a href="/gift-cards" title="Gift cards">Gift cards</a></li>
                <li><a href="/payment" title="Payment">Payment</a></li>
                <li><a href="/shipping" title="Shipping">Shipping</a></li>
                <li><a href="/exchange-and-returns" title="Exchange and returns">Exchange and returns</a>
                </li>
                <li><a href="/account" title="My account">My account</a></li>
            </ul>
        </div>
        <div class="accordion-cart">
            <h4 class="accordion">Corporate info</h4>
            <ul class="panel">
                <li><a href="/about" title="About Veshje">About</a></li>
                <li><a href="/career" title="Career at Veshje">Career</a></li>
                <li><a href="/shops-and-company" title="Shops and company">Shops and company</a></li>
                <li><a href="/contact" title="Contact">Contact</a></li>
                <li><a href="/privacy-policy" title="Legal and privacy">Legal and privacy</a></li>
            </ul>
        </div>
        <div class="accordion-cart" id="newsletter">
            <h4 class="accordion">Newsletter</h4>
            <ul class="panel">
                <form action="#" th:action="@{'/products/dress-details-newsletter/' + ${id}}"
                      th:object="${productDetailsNewsletter}"
                      method="post"
                      class="newsletter-container">
                    <p>Do you want to receive the newest trends and special offers? Sign up.</p>
                    <div class="input-div one">
                        <div class="i">
                            <svg width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
                                                                <g id="Shopicon">
                                	                            <path d="M40,8H8c-2.2,0-4,1.8-4,4v24c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4V12C44,9.8,42.2,8,40,8z M8,10h32
                                		                        c0.701,0,1.317,0.364,1.674,0.912L24,28.586L6.326,10.912C6.683,10.364,7.299,10,8,10z M40,38H8c-1.103,0-2-0.897-2-2V13.414l18,18
                                		                        l18-18V36C42,37.103,41.103,38,40,38z"/>
                                                                </g>
                                                            </svg>
                        </div>
                        <div>
                            <h5>Email</h5>
                            <input type="email" th:field="*{email}" class="input" required>
                        </div>
                    </div>
                    <span class="error-info" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <div class="newsletter-checkbox">
                        <input type="checkbox" name="accept-newsletter-checkbox" required>
                        I accept <a href="/privacy-policy">newsletter terms</a>
                    </div>
                    <input type="submit" class="btn" value="Send">
                </form>
            </ul>
        </div>
    </div>
    <div class="footer-container-socials">
        <div class="socials">
            <a href="#" title="facebook" class="socials-icon-deep" target="_blank">
                <i class="fab fa-facebook"></i></a>
            <a href="#" title="twitter" class="socials-icon-deep" target="_blank">
                <i class="fab fa-twitter-square"></i></a>
            <a href="#" title="instagram" class="socials-icon-deep" target="_blank">
                <i class="fab fa-instagram"></i></a>
            <a href="#" title="youtube" class="socials-icon-deep" target="_blank">
                <i class="fab fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <p>Veshje © 2020 All rights reserved</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/js.js"></script>
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js'></script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var accAccordion;

    for (accAccordion = 0; accAccordion < acc.length; accAccordion++) {
        acc[accAccordion].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    /* SLIDESHOW */
    var slideIndex = 1;
    showSlides(slideIndex);

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");

        if (n == undefined) {
            n = ++slideIndex
        }
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }

    /* ZOOM IMG */
    var modal = document.getElementById("modal");
    var modalImg = document.getElementById("img-zoom-panel");
    const img = document.getElementsByClassName('img-main-panel');

    for (let i = 0; i < img.length; i++) {
        img[i].onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
    }

    var span = document.getElementsByClassName("close-zoom")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }

    /* SHOW SIZE TABLE */
    var productTableSize = document.getElementById("product-table-size");
    var productTable = document.getElementById("product-table");
    const tableSizeZoom = document.getElementById('table-size-zoom');

    tableSizeZoom.onclick = function () {
        productTableSize.style.display = "block";
        productTable.src = this.src;
    }


    var span2 = document.getElementsByClassName("close-zoom-table")[0];
    span2.onclick = function () {
        productTableSize.style.display = "none";
    }

    /*SHOW REVIEWS*/
    var productReviewCart = document.getElementById("product-review-cart");
    var productReview = document.getElementById("product-review");
    const showReviewCart = document.getElementById('show-review-cart');

    showReviewCart.onclick = function () {
        productReviewCart.style.display = "block";
        productReview.src = this.src;
    }

    var span3 = document.getElementsByClassName("close-review")[0];
    span3.onclick = function () {
        productReviewCart.style.display = "none";
    }

    /* FLIP DETAILS */
    $(document).ready(function () {
        $("#flip-care").click(function () {
            $("#panel-flip-care").slideToggle("slow");
        });
    });

    $(document).ready(function () {
        $("#flip-share").click(function () {
            $("#panel-flip-share").slideToggle("slow");
        });
    });

    $(document).ready(function () {
        $("#flip-shipping").click(function () {
            $("#panel-flip-shipping").slideToggle("slow");
        });
    });

    /* DISABLED BUTTON */
    $("input:radio").change(function () {
        $("#add-to-bag-disabled").prop("disabled", false)
    });
</script>

</body>
</html>